<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.erp.mapper.ErpMaterialBillEntityMapper">

    <insert id="upsertBatch">
        INSERT INTO erp_material_bill (
            id,
            document_status,
            forbid_status,
            name,
            number,
            description,
            create_org_id,
            use_org_id,
            creator_id,
            modifier_id,
            create_date,
            modify_date,
            forbidder_id,
            approver_id,
            forbid_date,
            approve_date,
            bom_category,
            bom_use,
            material_id,
            item_name,
            item_model,
            item_property,
            yield_rate,
            bill_type,
            unit_id,
            base_unit_id,
            is_default,
            cfg_bom_id,
            qty,
            base_qty,
            bom_group,
            plm_bom_id,
            bom_src,
            parent_aux_prop_id,
            mdl_id,
            forbid_reason,
            is_change,
            production_workshop,
            parent_plm_drawing_no
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.id},
                #{item.documentStatus},
                #{item.forbidStatus},
                #{item.name},
                #{item.number},
                #{item.description},
                #{item.createOrgId},
                #{item.useOrgId},
                #{item.creatorId},
                #{item.modifierId},
                #{item.createDate},
                #{item.modifyDate},
                #{item.forbidderId},
                #{item.approverId},
                #{item.forbidDate},
                #{item.approveDate},
                #{item.bomCategory},
                #{item.bomUse},
                #{item.materialId},
                #{item.itemName},
                #{item.itemModel},
                #{item.itemProperty},
                #{item.yieldRate},
                #{item.billType},
                #{item.unitId},
                #{item.baseUnitId},
                #{item.isDefault},
                #{item.cfgBomId},
                #{item.qty},
                #{item.baseQty},
                #{item.bomGroup},
                #{item.plmBomId},
                #{item.bomSrc},
                #{item.parentAuxPropId},
                #{item.mdlId},
                #{item.forbidReason},
                #{item.isChange},
                #{item.productionWorkshop},
                #{item.parentPlmDrawingNo}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
            document_status = VALUES(document_status),
            forbid_status = VALUES(forbid_status),
            name = VALUES(name),
            number = VALUES(number),
            description = VALUES(description),
            create_org_id = VALUES(create_org_id),
            use_org_id = VALUES(use_org_id),
            creator_id = VALUES(creator_id),
            modifier_id = VALUES(modifier_id),
            create_date = VALUES(create_date),
            modify_date = VALUES(modify_date),
            forbidder_id = VALUES(forbidder_id),
            approver_id = VALUES(approver_id),
            forbid_date = VALUES(forbid_date),
            approve_date = VALUES(approve_date),
            bom_category = VALUES(bom_category),
            bom_use = VALUES(bom_use),
            material_id = VALUES(material_id),
            item_name = VALUES(item_name),
            item_model = VALUES(item_model),
            item_property = VALUES(item_property),
            yield_rate = VALUES(yield_rate),
            bill_type = VALUES(bill_type),
            unit_id = VALUES(unit_id),
            base_unit_id = VALUES(base_unit_id),
            is_default = VALUES(is_default),
            cfg_bom_id = VALUES(cfg_bom_id),
            qty = VALUES(qty),
            base_qty = VALUES(base_qty),
            bom_group = VALUES(bom_group),
            plm_bom_id = VALUES(plm_bom_id),
            bom_src = VALUES(bom_src),
            parent_aux_prop_id = VALUES(parent_aux_prop_id),
            mdl_id = VALUES(mdl_id),
            forbid_reason = VALUES(forbid_reason),
            is_change = VALUES(is_change),
            production_workshop = VALUES(production_workshop),
            parent_plm_drawing_no = VALUES(parent_plm_drawing_no)
    </insert>
</mapper>
