<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.erp.mapper.ErpMaterialBillLineEntityMapper">

    <insert id="upsertBatch">
        INSERT INTO erp_material_bill_line (
            bill_id, id, material_type, dosage_type, process_id, fix_scrap_qty, effect_date, expire_date,
            issue_type, supply_org, stock_id, stock_loc_id, allow_over, back_flush_type, time_unit,
            is_key_component, material_id_child, position_no, scrap_rate, dis_assmble_rate, offset_time,
            is_get_scrap, bom_id, numerator, denominator, owner_type_id, owner_id, oper_id, aux_prop_id,
            child_unit_id, entry_row_id, child_base_unit_id, base_numerator, base_fixscrap_qty,
            base_denominator, qty2, actual_qty, over_control_mode, replace_group, child_supply_org_id,
            opt_queue, is_min_issue_qty, record_data, supply_type, ukpt_ylzz, parent_row_id,
            row_expand_type, row_id, replace_policy, replace_type, replace_priority, is_key_item,
            mrp_priority, is_can_choose, is_can_edit, is_can_replace, cfg_bom_entry_id,
            cfg_feature_entry_id, plm_bom_entry_id, bom_entry_src, is_skip, tree_entry_id_bak,
            change_type, change_time, ecn_bill_no, ecn_chg_type, ecn_chg_date, supply_mode,
            ecn_row_type, plm_bom_entry_row_id, is_mrp_run, substitution_id, st_entry_id,
            net_demand_rate, ecn_entry_id, material_code_child, material_name_child, material_model_child, material_property_child
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.billId}, #{item.id}, #{item.materialType}, #{item.dosageType}, #{item.processId},
                #{item.fixScrapQty}, #{item.effectDate}, #{item.expireDate}, #{item.issueType},
                #{item.supplyOrg}, #{item.stockId}, #{item.stockLocId}, #{item.allowOver},
                #{item.backFlushType}, #{item.timeUnit}, #{item.isKeyComponent}, #{item.materialIdChild},
                #{item.positionNo}, #{item.scrapRate}, #{item.disAssmbleRate}, #{item.offsetTime},
                #{item.isGetScrap}, #{item.bomId}, #{item.numerator}, #{item.denominator},
                #{item.ownerTypeId}, #{item.ownerId}, #{item.operId}, #{item.auxPropId},
                #{item.childUnitId}, #{item.entryRowId}, #{item.childBaseUnitId}, #{item.baseNumerator},
                #{item.baseFixscrapQty}, #{item.baseDenominator}, #{item.qty2}, #{item.actualQty},
                #{item.overControlMode}, #{item.replaceGroup}, #{item.childSupplyOrgId}, #{item.optQueue},
                #{item.isMinIssueQty}, #{item.recordData}, #{item.supplyType}, #{item.ukptYlzz},
                #{item.parentRowId}, #{item.rowExpandType}, #{item.rowId}, #{item.replacePolicy},
                #{item.replaceType}, #{item.replacePriority}, #{item.isKeyItem}, #{item.mrpPriority},
                #{item.isCanChoose}, #{item.isCanEdit}, #{item.isCanReplace}, #{item.cfgBomEntryId},
                #{item.cfgFeatureEntryId}, #{item.plmBomEntryId}, #{item.bomEntrySrc}, #{item.isSkip},
                #{item.treeEntryIdBak}, #{item.changeType}, #{item.changeTime}, #{item.ecnBillNo},
                #{item.ecnChgType}, #{item.ecnChgDate}, #{item.supplyMode}, #{item.ecnRowType},
                #{item.plmBomEntryRowId}, #{item.isMrpRun}, #{item.substitutionId}, #{item.stEntryId},
                #{item.netDemandRate}, #{item.ecnEntryId}, #{item.materialCodeChild}, #{item.materialNameChild}, #{item.materialModelChild},
                #{item.materialPropertyChild}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
            bill_id = VALUES(bill_id),
            material_type = VALUES(material_type),
            dosage_type = VALUES(dosage_type),
            process_id = VALUES(process_id),
            fix_scrap_qty = VALUES(fix_scrap_qty),
            effect_date = VALUES(effect_date),
            expire_date = VALUES(expire_date),
            issue_type = VALUES(issue_type),
            supply_org = VALUES(supply_org),
            stock_id = VALUES(stock_id),
            stock_loc_id = VALUES(stock_loc_id),
            allow_over = VALUES(allow_over),
            back_flush_type = VALUES(back_flush_type),
            time_unit = VALUES(time_unit),
            is_key_component = VALUES(is_key_component),
            material_id_child = VALUES(material_id_child),
            position_no = VALUES(position_no),
            scrap_rate = VALUES(scrap_rate),
            dis_assmble_rate = VALUES(dis_assmble_rate),
            offset_time = VALUES(offset_time),
            is_get_scrap = VALUES(is_get_scrap),
            bom_id = VALUES(bom_id),
            numerator = VALUES(numerator),
            denominator = VALUES(denominator),
            owner_type_id = VALUES(owner_type_id),
            owner_id = VALUES(owner_id),
            oper_id = VALUES(oper_id),
            aux_prop_id = VALUES(aux_prop_id),
            child_unit_id = VALUES(child_unit_id),
            entry_row_id = VALUES(entry_row_id),
            child_base_unit_id = VALUES(child_base_unit_id),
            base_numerator = VALUES(base_numerator),
            base_fixscrap_qty = VALUES(base_fixscrap_qty),
            base_denominator = VALUES(base_denominator),
            qty2 = VALUES(qty2),
            actual_qty = VALUES(actual_qty),
            over_control_mode = VALUES(over_control_mode),
            replace_group = VALUES(replace_group),
            child_supply_org_id = VALUES(child_supply_org_id),
            opt_queue = VALUES(opt_queue),
            is_min_issue_qty = VALUES(is_min_issue_qty),
            record_data = VALUES(record_data),
            supply_type = VALUES(supply_type),
            ukpt_ylzz = VALUES(ukpt_ylzz),
            parent_row_id = VALUES(parent_row_id),
            row_expand_type = VALUES(row_expand_type),
            row_id = VALUES(row_id),
            replace_policy = VALUES(replace_policy),
            replace_type = VALUES(replace_type),
            replace_priority = VALUES(replace_priority),
            is_key_item = VALUES(is_key_item),
            mrp_priority = VALUES(mrp_priority),
            is_can_choose = VALUES(is_can_choose),
            is_can_edit = VALUES(is_can_edit),
            is_can_replace = VALUES(is_can_replace),
            cfg_bom_entry_id = VALUES(cfg_bom_entry_id),
            cfg_feature_entry_id = VALUES(cfg_feature_entry_id),
            plm_bom_entry_id = VALUES(plm_bom_entry_id),
            bom_entry_src = VALUES(bom_entry_src),
            is_skip = VALUES(is_skip),
            tree_entry_id_bak = VALUES(tree_entry_id_bak),
            change_type = VALUES(change_type),
            change_time = VALUES(change_time),
            ecn_bill_no = VALUES(ecn_bill_no),
            ecn_chg_type = VALUES(ecn_chg_type),
            ecn_chg_date = VALUES(ecn_chg_date),
            supply_mode = VALUES(supply_mode),
            ecn_row_type = VALUES(ecn_row_type),
            plm_bom_entry_row_id = VALUES(plm_bom_entry_row_id),
            is_mrp_run = VALUES(is_mrp_run),
            substitution_id = VALUES(substitution_id),
            st_entry_id = VALUES(st_entry_id),
            net_demand_rate = VALUES(net_demand_rate),
            ecn_entry_id = VALUES(ecn_entry_id),
            material_code_child = values(material_code_child),
            material_name_child = values(material_name_child),
            material_model_child = values(material_model_child),
            material_property_child = values(material_property_child)
    </insert>
</mapper>
