<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.erp.mapper.ErpProductionOrderEntityMapper">

    <insert id="upsertBatch">
        INSERT INTO erp_production_order (
            fid,
            bill_no,
            document_status,
            approver_id,
            approve_date,
            modifier_id,
            create_date,
            creator_id,
            modify_date,
            cancel_date,
            canceler,
            cancel_status,
            description,
            bill_type,
            trustteed,
            work_shop_id0,
            prd_org_id,
            planner_id,
            date,
            owner_type_id,
            owner_id,
            work_group_id,
            business_type,
            is_rework,
            is_entrust,
            en_trust_org_id,
            ppbom_type,
            issue_mtrl,
            is_qcmo,
            zghy_print_times,
            ukpt_zhrkrq,
            ukpt_zzllrq,
            ukpt_cjfs,
            ukpt_dlxm,
            xgbw_llts
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.fid},
                #{item.billNo},
                #{item.documentStatus},
                #{item.approverId},
                #{item.approveDate},
                #{item.modifierId},
                #{item.createDate},
                #{item.creatorId},
                #{item.modifyDate},
                #{item.cancelDate},
                #{item.canceler},
                #{item.cancelStatus},
                #{item.description},
                #{item.billType},
                #{item.trustteed},
                #{item.workShopId0},
                #{item.prdOrgId},
                #{item.plannerId},
                #{item.date},
                #{item.ownerTypeId},
                #{item.ownerId},
                #{item.workGroupId},
                #{item.businessType},
                #{item.isRework},
                #{item.isEntrust},
                #{item.enTrustOrgId},
                #{item.ppbomType},
                #{item.issueMtrl},
                #{item.isQcmo},
                #{item.zghyPrintTimes},
                #{item.ukptZhrkrq},
                #{item.ukptZzllrq},
                #{item.ukptCjfs},
                #{item.ukptDlxm},
                #{item.xgbwLlts}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
            bill_no = VALUES(bill_no),
            document_status = VALUES(document_status),
            approver_id = VALUES(approver_id),
            approve_date = VALUES(approve_date),
            modifier_id = VALUES(modifier_id),
            create_date = VALUES(create_date),
            creator_id = VALUES(creator_id),
            modify_date = VALUES(modify_date),
            cancel_date = VALUES(cancel_date),
            canceler = VALUES(canceler),
            cancel_status = VALUES(cancel_status),
            description = VALUES(description),
            bill_type = VALUES(bill_type),
            trustteed = VALUES(trustteed),
            work_shop_id0 = VALUES(work_shop_id0),
            prd_org_id = VALUES(prd_org_id),
            planner_id = VALUES(planner_id),
            date = VALUES(date),
            owner_type_id = VALUES(owner_type_id),
            owner_id = VALUES(owner_id),
            work_group_id = VALUES(work_group_id),
            business_type = VALUES(business_type),
            is_rework = VALUES(is_rework),
            is_entrust = VALUES(is_entrust),
            en_trust_org_id = VALUES(en_trust_org_id),
            ppbom_type = VALUES(ppbom_type),
            issue_mtrl = VALUES(issue_mtrl),
            is_qcmo = VALUES(is_qcmo),
            zghy_print_times = VALUES(zghy_print_times),
            ukpt_zhrkrq = VALUES(ukpt_zhrkrq),
            ukpt_zzllrq = VALUES(ukpt_zzllrq),
            ukpt_cjfs = VALUES(ukpt_cjfs),
            ukpt_dlxm = VALUES(ukpt_dlxm),
            xgbw_llts = VALUES(xgbw_llts)
    </insert>

</mapper>
