<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.erp.mapper.ErpSalesOrderEntityMapper">

    <insert id="upsertBatch">
        INSERT INTO erp_sales_order (
            fid, bill_no, document_status, sale_org_id, date, cust_id, sale_dept_id, sale_group_id,
            saler_id, receive_id, settle_id, settle_address, charge_id, creator_id, create_date,
            modifier_id, modify_date, approver_id, approve_date, close_status, closer_id, close_date,
            cancel_status, canceller_id, cancel_date, version_no, changer_id, change_date, change_reason,
            bill_type_id, business_type, head_delivery_way, receive_address, head_loc_id,
            credit_check_result, correspond_org_id, receive_contact, net_order_bill_no, net_order_bill_id,
            opp_id, sale_phase_id, is_init, note, is_mobile, sign_status, manual_close, link_man, link_phone,
            so_from, contract_type, contract_id, is_use_oem_bom_push, xpk_id_h, close_reason,
            is_use_drp_sale_po_push, is_create_straight_out_in, preset_base1, preset_assistant1,
            preset_assistant2, preset_base2, zghy_ddlx, zghy_nwx, zghy_fkhddh, zghy_zjk_h, zghy_xsfs,
            zghy_mxsl, zghy_gdr, zghy_qtbz, zghy_zxbtb1, zghy_gnwtf, zghy_jgsy, zghy_fkqx,
            zghy_ysfs, out_gk, zghy_zyqx, zghy_scfh, zghy_scyj, zghy_jgsyms, zghy_fkqxms,
            zghy_cyf, zghy_zzg, zghy_zyqxms, zghy_ydzl, zghy_fydg, zghy_fmdg, zghy_tmdgk,
            zghy_fyz, zghy_ffp, zghy_wlms, zghy_fmt, zghy_tkbz, zghy_bxxz, zghy_bxjcl,
            zghy_khmc, zghy_khd_z, zghy_dzyj, zghy_lxr, zghy_gsmc, zghy_gsdz, zghy_gsdzyj,
            zghy_gx1, zghy_fmxsl, zghy_ywmc, zghy_ywdz, zghy_khdh, zghy_gsywdz, zghy_fywdz,
            zghy_gsdh, zghy_khxx, zghy_khyb, zghy_khjc, zghy_gsjc, zghy_gscz, zghy_gsyb,
            zghy_image_file_server, zghy_image_file_server1, zghy_image_file_server2,
            zghy_image_file_server3, zghy_jsbz, zghy_jsrq, zghy_bomwh, zghy_jssm,
            zghy_base_property, zghy_text, zghy_base_property1, zghy_dz, ukpt_ydz, ukpt_dlxm,
            ukpt_ys, ukpt_es, ukpt_ss, fyp_zxbtb, cy_jhdd, anti_close_date, ukpt_text_qtr, lc_cfzt
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.fid}, #{item.billNo}, #{item.documentStatus}, #{item.saleOrgId}, #{item.date},
                #{item.custId}, #{item.saleDeptId}, #{item.saleGroupId}, #{item.salerId}, #{item.receiveId},
                #{item.settleId}, #{item.settleAddress}, #{item.chargeId}, #{item.creatorId},
                #{item.createDate}, #{item.modifierId}, #{item.modifyDate}, #{item.approverId},
                #{item.approveDate}, #{item.closeStatus}, #{item.closerId}, #{item.closeDate},
                #{item.cancelStatus}, #{item.cancellerId}, #{item.cancelDate}, #{item.versionNo},
                #{item.changerId}, #{item.changeDate}, #{item.changeReason}, #{item.billTypeId},
                #{item.businessType}, #{item.headDeliveryWay}, #{item.receiveAddress}, #{item.headLocId},
                #{item.creditCheckResult}, #{item.correspondOrgId}, #{item.receiveContact},
                #{item.netOrderBillNo}, #{item.netOrderBillId}, #{item.oppId}, #{item.salePhaseId},
                #{item.isInit}, #{item.note}, #{item.isMobile}, #{item.signStatus}, #{item.manualClose},
                #{item.linkMan}, #{item.linkPhone}, #{item.soFrom}, #{item.contractType}, #{item.contractId},
                #{item.isUseOemBomPush}, #{item.xpkIdH}, #{item.closeReason}, #{item.isUseDrpSalePoPush},
                #{item.isCreateStraightOutIn}, #{item.presetBase1}, #{item.presetAssistant1},
                #{item.presetAssistant2}, #{item.presetBase2}, #{item.zghyDdlx}, #{item.zghyNwx},
                #{item.zghyFkhddh}, #{item.zghyZjkH}, #{item.zghyXsfs}, #{item.zghyMxsl},
                #{item.zghyGdr}, #{item.zghyQtbz}, #{item.zghyZxbtb1}, #{item.zghyGnwtf},
                #{item.zghyJgsy}, #{item.zghyFkqx}, #{item.zghyYsfs}, #{item.outGk},
                #{item.zghyZyqx}, #{item.zghyScfh}, #{item.zghyScyj}, #{item.zghyJgsyms},
                #{item.zghyFkqxms}, #{item.zghyCyf}, #{item.zghyZzg}, #{item.zghyZyqxms},
                #{item.zghyYdzl}, #{item.zghyFydg}, #{item.zghyFmdg}, #{item.zghyTmdgk},
                #{item.zghyFyz}, #{item.zghyFfp}, #{item.zghyWlms}, #{item.zghyFmt},
                #{item.zghyTkbz}, #{item.zghyBxxz}, #{item.zghyBxjcl}, #{item.zghyKhmc},
                #{item.zghyKhdZ}, #{item.zghyDzyj}, #{item.zghyLxr}, #{item.zghyGsmc},
                #{item.zghyGsdz}, #{item.zghyGsdzyj}, #{item.zghyGx1}, #{item.zghyFmxsl},
                #{item.zghyYwmc}, #{item.zghyYwdz}, #{item.zghyKhdh}, #{item.zghyGsywdz},
                #{item.zghyFywdz}, #{item.zghyGsdh}, #{item.zghyKhxx}, #{item.zghyKhyb},
                #{item.zghyKhjc}, #{item.zghyGsjc}, #{item.zghyGscz}, #{item.zghyGsyb},
                #{item.zghyImageFileServer}, #{item.zghyImageFileServer1},
                #{item.zghyImageFileServer2}, #{item.zghyImageFileServer3}, #{item.zghyJsbz},
                #{item.zghyJsrq}, #{item.zghyBomwh}, #{item.zghyJssm}, #{item.zghyBaseProperty},
                #{item.zghyText}, #{item.zghyBaseProperty1}, #{item.zghyDz}, #{item.ukptYdz},
                #{item.ukptDlxm}, #{item.ukptYs}, #{item.ukptEs}, #{item.ukptSs}, #{item.fypZxbtb},
                #{item.cyJhdd}, #{item.antiCloseDate}, #{item.ukptTextQtr}, #{item.lcCfzt}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
            bill_no = COALESCE(VALUES(bill_no), bill_no),
            document_status = COALESCE(VALUES(document_status), document_status),
            sale_org_id = COALESCE(VALUES(sale_org_id), sale_org_id),
            date = COALESCE(VALUES(date), date),
            cust_id = COALESCE(VALUES(cust_id), cust_id),
            sale_dept_id = COALESCE(VALUES(sale_dept_id), sale_dept_id),
            sale_group_id = COALESCE(VALUES(sale_group_id), sale_group_id),
            saler_id = COALESCE(VALUES(saler_id), saler_id),
            receive_id = COALESCE(VALUES(receive_id), receive_id),
            settle_id = COALESCE(VALUES(settle_id), settle_id),
            settle_address = COALESCE(VALUES(settle_address), settle_address),
            charge_id = COALESCE(VALUES(charge_id), charge_id),
            creator_id = COALESCE(VALUES(creator_id), creator_id),
            create_date = COALESCE(VALUES(create_date), create_date),
            modifier_id = COALESCE(VALUES(modifier_id), modifier_id),
            modify_date = COALESCE(VALUES(modify_date), modify_date),
            approver_id = COALESCE(VALUES(approver_id), approver_id),
            approve_date = COALESCE(VALUES(approve_date), approve_date),
            close_status = COALESCE(VALUES(close_status), close_status),
            closer_id = COALESCE(VALUES(closer_id), closer_id),
            close_date = COALESCE(VALUES(close_date), close_date),
            cancel_status = COALESCE(VALUES(cancel_status), cancel_status),
            canceller_id = COALESCE(VALUES(canceller_id), canceller_id),
            cancel_date = COALESCE(VALUES(cancel_date), cancel_date),
            version_no = COALESCE(VALUES(version_no), version_no),
            changer_id = COALESCE(VALUES(changer_id), changer_id),
            change_date = COALESCE(VALUES(change_date), change_date),
            change_reason = COALESCE(VALUES(change_reason), change_reason),
            bill_type_id = COALESCE(VALUES(bill_type_id), bill_type_id),
            business_type = COALESCE(VALUES(business_type), business_type),
            head_delivery_way = COALESCE(VALUES(head_delivery_way), head_delivery_way),
            receive_address = COALESCE(VALUES(receive_address), receive_address),
            head_loc_id = COALESCE(VALUES(head_loc_id), head_loc_id),
            credit_check_result = COALESCE(VALUES(credit_check_result), credit_check_result),
            correspond_org_id = COALESCE(VALUES(correspond_org_id), correspond_org_id),
            receive_contact = COALESCE(VALUES(receive_contact), receive_contact),
            net_order_bill_no = COALESCE(VALUES(net_order_bill_no), net_order_bill_no),
            net_order_bill_id = COALESCE(VALUES(net_order_bill_id), net_order_bill_id),
            opp_id = COALESCE(VALUES(opp_id), opp_id),
            sale_phase_id = COALESCE(VALUES(sale_phase_id), sale_phase_id),
            is_init = COALESCE(VALUES(is_init), is_init),
            note = COALESCE(VALUES(note), note),
            is_mobile = COALESCE(VALUES(is_mobile), is_mobile),
            sign_status = COALESCE(VALUES(sign_status), sign_status),
            manual_close = COALESCE(VALUES(manual_close), manual_close),
            link_man = COALESCE(VALUES(link_man), link_man),
            link_phone = COALESCE(VALUES(link_phone), link_phone),
            so_from = COALESCE(VALUES(so_from), so_from),
            contract_type = COALESCE(VALUES(contract_type), contract_type),
            contract_id = COALESCE(VALUES(contract_id), contract_id),
            is_use_oem_bom_push = COALESCE(VALUES(is_use_oem_bom_push), is_use_oem_bom_push),
            xpk_id_h = COALESCE(VALUES(xpk_id_h), xpk_id_h),
            close_reason = COALESCE(VALUES(close_reason), close_reason),
            is_use_drp_sale_po_push = COALESCE(VALUES(is_use_drp_sale_po_push), is_use_drp_sale_po_push),
            is_create_straight_out_in = COALESCE(VALUES(is_create_straight_out_in), is_create_straight_out_in),
            preset_base1 = COALESCE(VALUES(preset_base1), preset_base1),
            preset_assistant1 = COALESCE(VALUES(preset_assistant1), preset_assistant1),
            preset_assistant2 = COALESCE(VALUES(preset_assistant2), preset_assistant2),
            preset_base2 = COALESCE(VALUES(preset_base2), preset_base2),
            zghy_ddlx = COALESCE(VALUES(zghy_ddlx), zghy_ddlx),
            zghy_nwx = COALESCE(VALUES(zghy_nwx), zghy_nwx),
            zghy_fkhddh = COALESCE(VALUES(zghy_fkhddh), zghy_fkhddh),
            zghy_zjk_h = COALESCE(VALUES(zghy_zjk_h), zghy_zjk_h),
            zghy_xsfs = COALESCE(VALUES(zghy_xsfs), zghy_xsfs),
            zghy_mxsl = COALESCE(VALUES(zghy_mxsl), zghy_mxsl),
            zghy_gdr = COALESCE(VALUES(zghy_gdr), zghy_gdr),
            zghy_qtbz = COALESCE(VALUES(zghy_qtbz), zghy_qtbz),
            zghy_zxbtb1 = COALESCE(VALUES(zghy_zxbtb1), zghy_zxbtb1),
            zghy_gnwtf = COALESCE(VALUES(zghy_gnwtf), zghy_gnwtf),
            zghy_jgsy = COALESCE(VALUES(zghy_jgsy), zghy_jgsy),
            zghy_fkqx = COALESCE(VALUES(zghy_fkqx), zghy_fkqx),
            zghy_ysfs = COALESCE(VALUES(zghy_ysfs), zghy_ysfs),
            out_gk = COALESCE(VALUES(out_gk), out_gk),
            zghy_zyqx = COALESCE(VALUES(zghy_zyqx), zghy_zyqx),
            zghy_scfh = COALESCE(VALUES(zghy_scfh), zghy_scfh),
            zghy_scyj = COALESCE(VALUES(zghy_scyj), zghy_scyj),
            zghy_jgsyms = COALESCE(VALUES(zghy_jgsyms), zghy_jgsyms),
            zghy_fkqxms = COALESCE(VALUES(zghy_fkqxms), zghy_fkqxms),
            zghy_cyf = COALESCE(VALUES(zghy_cyf), zghy_cyf),
            zghy_zzg = COALESCE(VALUES(zghy_zzg), zghy_zzg),
            zghy_zyqxms = COALESCE(VALUES(zghy_zyqxms), zghy_zyqxms),
            zghy_ydzl = COALESCE(VALUES(zghy_ydzl), zghy_ydzl),
            zghy_fydg = COALESCE(VALUES(zghy_fydg), zghy_fydg),
            zghy_fmdg = COALESCE(VALUES(zghy_fmdg), zghy_fmdg),
            zghy_tmdgk = COALESCE(VALUES(zghy_tmdgk), zghy_tmdgk),
            zghy_fyz = COALESCE(VALUES(zghy_fyz), zghy_fyz),
            zghy_ffp = COALESCE(VALUES(zghy_ffp), zghy_ffp),
            zghy_wlms = COALESCE(VALUES(zghy_wlms), zghy_wlms),
            zghy_fmt = COALESCE(VALUES(zghy_fmt), zghy_fmt),
            zghy_tkbz = COALESCE(VALUES(zghy_tkbz), zghy_tkbz),
            zghy_bxxz = COALESCE(VALUES(zghy_bxxz), zghy_bxxz),
            zghy_bxjcl = COALESCE(VALUES(zghy_bxjcl), zghy_bxjcl),
            zghy_khmc = COALESCE(VALUES(zghy_khmc), zghy_khmc),
            zghy_khd_z = COALESCE(VALUES(zghy_khd_z), zghy_khd_z),
            zghy_dzyj = COALESCE(VALUES(zghy_dzyj), zghy_dzyj),
            zghy_lxr = COALESCE(VALUES(zghy_lxr), zghy_lxr),
            zghy_gsmc = COALESCE(VALUES(zghy_gsmc), zghy_gsmc),
            zghy_gsdz = COALESCE(VALUES(zghy_gsdz), zghy_gsdz),
            zghy_gsdzyj = COALESCE(VALUES(zghy_gsdzyj), zghy_gsdzyj),
            zghy_gx1 = COALESCE(VALUES(zghy_gx1), zghy_gx1),
            zghy_fmxsl = COALESCE(VALUES(zghy_fmxsl), zghy_fmxsl),
            zghy_ywmc = COALESCE(VALUES(zghy_ywmc), zghy_ywmc),
            zghy_ywdz = COALESCE(VALUES(zghy_ywdz), zghy_ywdz),
            zghy_khdh = COALESCE(VALUES(zghy_khdh), zghy_khdh),
            zghy_gsywdz = COALESCE(VALUES(zghy_gsywdz), zghy_gsywdz),
            zghy_fywdz = COALESCE(VALUES(zghy_fywdz), zghy_fywdz),
            zghy_gsdh = COALESCE(VALUES(zghy_gsdh), zghy_gsdh),
            zghy_khxx = COALESCE(VALUES(zghy_khxx), zghy_khxx),
            zghy_khyb = COALESCE(VALUES(zghy_khyb), zghy_khyb),
            zghy_khjc = COALESCE(VALUES(zghy_khjc), zghy_khjc),
            zghy_gsjc = COALESCE(VALUES(zghy_gsjc), zghy_gsjc),
            zghy_gscz = COALESCE(VALUES(zghy_gscz), zghy_gscz),
            zghy_gsyb = COALESCE(VALUES(zghy_gsyb), zghy_gsyb),
            zghy_image_file_server = COALESCE(VALUES(zghy_image_file_server), zghy_image_file_server),
            zghy_image_file_server1 = COALESCE(VALUES(zghy_image_file_server1), zghy_image_file_server1),
            zghy_image_file_server2 = COALESCE(VALUES(zghy_image_file_server2), zghy_image_file_server2),
            zghy_image_file_server3 = COALESCE(VALUES(zghy_image_file_server3), zghy_image_file_server3),
            zghy_jsbz = COALESCE(VALUES(zghy_jsbz), zghy_jsbz),
            zghy_jsrq = COALESCE(VALUES(zghy_jsrq), zghy_jsrq),
            zghy_bomwh = COALESCE(VALUES(zghy_bomwh), zghy_bomwh),
            zghy_jssm = COALESCE(VALUES(zghy_jssm), zghy_jssm),
            zghy_base_property = COALESCE(VALUES(zghy_base_property), zghy_base_property),
            zghy_text = COALESCE(VALUES(zghy_text), zghy_text),
            zghy_base_property1 = COALESCE(VALUES(zghy_base_property1), zghy_base_property1),
            zghy_dz = COALESCE(VALUES(zghy_dz), zghy_dz),
            ukpt_ydz = COALESCE(VALUES(ukpt_ydz), ukpt_ydz),
            ukpt_dlxm = COALESCE(VALUES(ukpt_dlxm), ukpt_dlxm),
            ukpt_ys = COALESCE(VALUES(ukpt_ys), ukpt_ys),
            ukpt_es = COALESCE(VALUES(ukpt_es), ukpt_es),
            ukpt_ss = COALESCE(VALUES(ukpt_ss), ukpt_ss),
            fyp_zxbtb = COALESCE(VALUES(fyp_zxbtb), fyp_zxbtb),
            cy_jhdd = COALESCE(VALUES(cy_jhdd), cy_jhdd),
            anti_close_date = COALESCE(VALUES(anti_close_date), anti_close_date),
            ukpt_text_qtr = COALESCE(VALUES(ukpt_text_qtr), ukpt_text_qtr),
            lc_cfzt = COALESCE(VALUES(lc_cfzt), lc_cfzt)
    </insert>

</mapper>
