<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.erp.mapper.ErpSalesOrderFinanceEntityMapper">

    <insert id="upsertBatch">
        INSERT INTO erp_sales_order_finance (
            entry_id,
            pid,
            local_curr,
            exchange_type,
            exchange_rate,
            pay_advance_rate,
            pay_advance_amount,
            discount_list,
            settle_curr,
            bill_tax_amount_lc,
            bill_amount_lc,
            bill_all_amount,
            bill_all_amount_lc,
            price_list,
            bill_tax_amount,
            bill_amount,
            is_included_tax,
            need_pay_advance,
            rec_bill_id,
            rec_condition,
            settle_mode,
            join_stock_amount,
            join_order_amount,
            cre_chk_status,
            cre_chk_days,
            cre_chk_amount,
            cre_pre_bat_and_mon_status,
            cre_pre_batch_over,
            cre_mon_control_over,
            is_price_exclude_tax,
            margin_level,
            associate_margin,
            margin,
            ass_refund_margin,
            cre_chk_over_amount,
            over_org_trans_direct,
            rec_notice_no,
            rec_barcode_link,
            all_dis_count,
            xpkid_f
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.entryId},
                #{item.pid},
                #{item.localCurr},
                #{item.exchangeType},
                #{item.exchangeRate},
                #{item.payAdvanceRate},
                #{item.payAdvanceAmount},
                #{item.discountList},
                #{item.settleCurr},
                #{item.billTaxAmountLc},
                #{item.billAmountLc},
                #{item.billAllAmount},
                #{item.billAllAmountLc},
                #{item.priceList},
                #{item.billTaxAmount},
                #{item.billAmount},
                #{item.isIncludedTax},
                #{item.needPayAdvance},
                #{item.recBillId},
                #{item.recCondition},
                #{item.settleMode},
                #{item.joinStockAmount},
                #{item.joinOrderAmount},
                #{item.creChkStatus},
                #{item.creChkDays},
                #{item.creChkAmount},
                #{item.crePreBatAndMonStatus},
                #{item.crePreBatchOver},
                #{item.creMonControlOver},
                #{item.isPriceExcludeTax},
                #{item.marginLevel},
                #{item.associateMargin},
                #{item.margin},
                #{item.assRefundMargin},
                #{item.creChkOverAmount},
                #{item.overOrgTransDirect},
                #{item.recNoticeNo},
                #{item.recBarcodeLink},
                #{item.allDisCount},
                #{item.xpkidF}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
            entry_id = VALUES(entry_id),
            pid = VALUES(pid),
            local_curr = COALESCE(VALUES(local_curr), local_curr),
            exchange_type = COALESCE(VALUES(exchange_type), exchange_type),
            exchange_rate = COALESCE(VALUES(exchange_rate), exchange_rate),
            pay_advance_rate = COALESCE(VALUES(pay_advance_rate), pay_advance_rate),
            pay_advance_amount = COALESCE(VALUES(pay_advance_amount), pay_advance_amount),
            discount_list = COALESCE(VALUES(discount_list), discount_list),
            settle_curr = COALESCE(VALUES(settle_curr), settle_curr),
            bill_tax_amount_lc = COALESCE(VALUES(bill_tax_amount_lc), bill_tax_amount_lc),
            bill_amount_lc = COALESCE(VALUES(bill_amount_lc), bill_amount_lc),
            bill_all_amount = COALESCE(VALUES(bill_all_amount), bill_all_amount),
            bill_all_amount_lc = COALESCE(VALUES(bill_all_amount_lc), bill_all_amount_lc),
            price_list = COALESCE(VALUES(price_list), price_list),
            bill_tax_amount = COALESCE(VALUES(bill_tax_amount), bill_tax_amount),
            bill_amount = COALESCE(VALUES(bill_amount), bill_amount),
            is_included_tax = COALESCE(VALUES(is_included_tax), is_included_tax),
            need_pay_advance = COALESCE(VALUES(need_pay_advance), need_pay_advance),
            rec_bill_id = COALESCE(VALUES(rec_bill_id), rec_bill_id),
            rec_condition = COALESCE(VALUES(rec_condition), rec_condition),
            settle_mode = COALESCE(VALUES(settle_mode), settle_mode),
            join_stock_amount = COALESCE(VALUES(join_stock_amount), join_stock_amount),
            join_order_amount = COALESCE(VALUES(join_order_amount), join_order_amount),
            cre_chk_status = COALESCE(VALUES(cre_chk_status), cre_chk_status),
            cre_chk_days = COALESCE(VALUES(cre_chk_days), cre_chk_days),
            cre_chk_amount = COALESCE(VALUES(cre_chk_amount), cre_chk_amount),
            cre_pre_bat_and_mon_status = COALESCE(VALUES(cre_pre_bat_and_mon_status), cre_pre_bat_and_mon_status),
            cre_pre_batch_over = COALESCE(VALUES(cre_pre_batch_over), cre_pre_batch_over),
            cre_mon_control_over = COALESCE(VALUES(cre_mon_control_over), cre_mon_control_over),
            is_price_exclude_tax = COALESCE(VALUES(is_price_exclude_tax), is_price_exclude_tax),
            margin_level = COALESCE(VALUES(margin_level), margin_level),
            associate_margin = COALESCE(VALUES(associate_margin), associate_margin),
            margin = COALESCE(VALUES(margin), margin),
            ass_refund_margin = COALESCE(VALUES(ass_refund_margin), ass_refund_margin),
            cre_chk_over_amount = COALESCE(VALUES(cre_chk_over_amount), cre_chk_over_amount),
            over_org_trans_direct = COALESCE(VALUES(over_org_trans_direct), over_org_trans_direct),
            rec_notice_no = COALESCE(VALUES(rec_notice_no), rec_notice_no),
            rec_barcode_link = COALESCE(VALUES(rec_barcode_link), rec_barcode_link),
            all_dis_count = COALESCE(VALUES(all_dis_count), all_dis_count),
            xpkid_f = COALESCE(VALUES(xpkid_f), xpkid_f)
    </insert>

</mapper>
